[Unit]
Description=Terminal for Princess Evelyn
After=network.target

[Service]
User=evelyn
Group=www-data
WorkingDirectory=/home/evelyn/diff-editor-terminal
ExecStart=/usr/local/bin/gunicorn --config /home/evelyn/diff-editor-terminal/gunicorn_terminal.conf.py wsgi_terminal:app
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
